flows.json
[{"id":"e53f8bf9.f4f598","type":"tab","label":"Arduino-TagoIO","disabled":false,"info":""},{"id":"2197a45.8557b5c","type":"debug","z":"e53f8bf9.f4f598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":360,"wires":[]},{"id":"ff56ce0b.bb61b8","type":"serial in","z":"e53f8bf9.f4f598","name":"temp","serial":"150d9b4.fb0cc65","x":270,"y":320,"wires":[["2197a45.8557b5c","2cf45e0f.1a987a"]]},{"id":"2cf45e0f.1a987a","type":"mqtt out","z":"e53f8bf9.f4f598","name":"","topic":"tago/data/post","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9755dfc0.acc108","x":620,"y":220,"wires":[]},{"id":"150d9b4.fb0cc65","type":"serial-port","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"{","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"}","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"9755dfc0.acc108","type":"mqtt-broker","name":"","broker":"mqtt.tago.io","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]